<footer class='footer'>
    <div class='footer-content'>
        <div class='footer-address'> 
            <p>ADAM'S PIZZA</p>
            <p>Address:</p>
            <p>Chiraco Summit</p>
            <p>Hayfield 99</p>
        </div>
        <div class='footer-contact'>
            <p>Mon-Fri: 9.00-23.00</p>
            <p>Sat-Sun: 13.00-22.00</p>
            <p><i class="fas fa-phone"></i><span> +48 123 455 792</span></p>
            <p><i class="fas fa-envelope"></i><span> adampizza@example.mail</span></p>
        </div>
        <div class='icons'>
            <p>Follow us</p>
            <a href=''><i class="fab fa-facebook-square"></i></a>
            <a href=''><i class="fab fa-instagram-square"></i></a>
        </div>
    </div> 
    <hr class='hr'>
    <div class='copy'>
        <p>Copyright 2020. All Rights Reserved by ADAM'S PIZZA</p>
    </div>
</footer>