<nav class='navbar'>
    <section class='navbar-content'>
        <div class="navbar-left">
            <img src='../img/logo1.png'>
            <a href='/'>Home</a>
            <a href='/menu'>Menu</a>
            <a href='/#aboutus'>About us</a>
            <a href='/gallery'>Gallery</a>
            <a href='/contact'>Contact</a>
        </div>
        <div class="navbar-right">
            <a href='/menu/cart'><i class="fas fa-shopping-cart"></i> Cart</a>
            <!-- <a href='/menu/signup'><i class="fas fa-shopping-cart"></i> Signup</a> -->
            <!-- <a href='/menu/login'><i class="fas fa-shopping-cart"></i> Login</a> -->
        </div>
    </section>
    <img src='../img/logo1.png' class='mobile-logo'>
    <span class='dropdown-menu'><i class="fas fa-caret-square-down"></i></span>
</nav>
<script src='../dropdown.js'></script>